body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #010B13 !important;
}
.container {
  background-color: #333333;
  padding: 30px 30px !important;
  border-radius: 10px;
  box-shadow: 0 0 20px #333333;
  color: #e4f7ef !important;
}
.input-group {
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #0C8054 !important;
}
.btn:hover {
    background-color: #59bb95 !important;
    color: #000000 !important;
}

#basic-addon4{
  color: white !important;
}

.form-control:focus{
  border-color: #0C8054 !important;
  box-shadow: 0 0 10px 0px #0C8054 !important
  
}
